<%- include("partials/header.ejs") %>

<section class="container">
    <form action="/confirm-delete" method="POST">
        <div class="row align-items-start">
            <div class="col order-2 col-md-8 col-lg-6">
                <div class="mb-2">
                    <label for="exampleFormControlInput1" class="form-label">Your name</label>
                    <input name="name" type="text" class="form-control bg-body-secondary" id="exampleFormControlInput1" value="<%= name %>" disabled>
                </div>
                <div class="mb-2">
                    <label for="exampleFormControlInput2" class="form-label">Title</label>
                    <input name="title" type="text" class="form-control bg-body-secondary" id="exampleFormControlInput2" value="<%= title %>" disabled>
                </div>
                <div class="mb-2">
                    <label for="exampleFormControlTextarea1" class="form-label">Post</label>
                    <textarea name="blogpost" class="form-control bg-body-secondary" id="exampleFormControlTextarea1" rows="3" disabled><%= blogpost %></textarea>
                </div>
                <input name="id" type="text" class="d-none" value="<%= id %>" required>
                <input name="month" type="text" class="d-none" value="<%= month %>" required>
                <input name="day" type="text" class="d-none" value="<%= day %>" required>
                <input name="year" type="text" class="d-none" value="<%= year %>" required>
            </div>
            <div class="col-12 order-1 col-md-6 order-lg-3 mb-3 align-self-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h1 class="card-title fs-3">Delete post</h1>
                      <p class="card-text">Are you sure you want to delete this?</p>
                      <input type="submit" value="Delete" class="btn btn-primary">
                      <a href="/" class="btn btn-outline-secondary">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>


<%- include("partials/footer.ejs") %>